.page-header {
    width: 100%;
    height: 520px;

    padding-top: 15rem;
    background-position-y: 20%;
    background-size: cover;

    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
}

.page-header menu {
    width: 100%;
    height: 47px;

    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;

    background-color: rgb(182, 0, 55);
    border-bottom: 2px solid rgb(201, 197, 197);
}

.page-header menu ul {
    margin-left: 2.5rem;

    list-style: none;
    
    display: flex;
    align-items: center;
}

.page-header menu ul li {
    margin-right: 2.6rem;
    font: 700 1.9rem Poppins;
}

.page-header menu ul li .link {
    text-decoration: none;
    color: white;
}

.page-header menu .icons-container {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.page-header menu .icons-container img {
    width: 25px;
    height: 25px;
}


























