:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html,
body,
#page-landing {
    width: 100vw;
    height: 100%;
}

#page-landing {
    background-color: rgb(201, 197, 197);
}

#page-landing main .page-content {
    width: 60%;
    max-width: 60%;
    height: 700px;
    margin: -37px auto;
}

.page-content .inner-container {
    width: 100%;
    height: 50%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-around;
}

.page-content #share {
    background-color: rgb(182, 0, 55);
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem;
}

.page-content #discover {
    background-color: rgb(32, 32, 32);
}

.page-content #explore {
    background-color: rgb(132, 145, 182);
}

.page-content .inner-container img {
    width: 300px;
    height: 300px;
    margin: 0 1.5rem;

    border-radius: 50%;
}

.inner-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: white;
}

.inner-container .text-container h2 {
    font: 500 23pt Montserrat;
    margin-bottom: 1rem;
}

.inner-container .text-container span {
    font-size: 14pt;
    font-family: sans-serif;
    color: rgb(201, 197, 197);
}

.inner-container .text-container h2::before {
    content: '';
    width: 30%;
    border: 1px solid white;

    margin-right: 1rem;
}

.inner-container .text-container button {
    width: 120px;
    height: 50px;
    margin-top: 1.4rem;
    border: none;
    outline: none;
    font: 500 1.6rem Poppins;
}

.inner-container .text-container a {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1.4rem;
    border: none;
    outline: none;
    text-decoration: none;

    background-color: white;
    color: black;
    font: 500 1.6rem Poppins;
}

/* Here is the footer of the homepage */

.footer-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;

    font-size: 14pt;
    font-family: sans-serif;
    color: rgb(201, 197, 197);    
}

.footer-container .container-children {
    width: 33%;
}

.footer-container .info-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.footer-container  ul {
    list-style: none;
}

.footer-container .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container .logo-container h1 {
    font: 700 60pt Montserrat;
}

.footer-container .logo-container h1 span {
    color: rgb(182, 0, 55);
}

.footer-container .social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Modal window */

.modal {
    display: none; 
    text-align: left;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.modal:target {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
     
.modal__overlay {
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
cursor: default;
}
 
.modal__content {
min-width: 480px;
position: relative;
background-color: rgb(99, 123, 187);
padding: 2rem;
}
 
.modal__close {
color: initial;
text-decoration: none;
position: absolute;
top: 0;
right: 0;
padding: 0 0.5rem;
display: inline-block;
}

.add-container {
    font: 700 1.6rem sans-serif;
    color: rgb(201, 197, 197);
}

.add-container header {
    margin-bottom: 4.4rem;
}

.add-container header h2 {
    font-size: 3.1rem;
    font-family: Montserrat;
    color: white;
}

.add-container header h3 {
    font: 100 1.6rem sans-serif;
    margin-left: .7rem;
    color: white;
}

.add-container header h2::before {
    content: '';
    width: 25%;
    border: 1px solid white;

    margin-right: .7rem;
}

.add-container .form-container {
    width: 80%;
    line-height: 3.9rem;
}

.form-container .input-block {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container.input-block label {
    margin-right: 5rem;
}

.form-container .input-block input {
    width: 230px;
    height: 29px;

    outline: none;
    border: none;
    border-radius: .4rem;
}

.form-container .input-block textarea {
    width: 230px;
    height: 123px;
    margin-top: 2.5rem;

    outline: none;
    border: none;
    border-radius: .4rem;
}

.form-container #select-block {
    align-items: baseline;
}

.add-container .button-container {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-container .button-container button {
    width: 40%;
    height: 36px;
    margin-top: 4.7rem;

    font-size: 1.6rem;
    font-family: Poppins;

    cursor: pointer;

    background-color: rgb(182, 0, 55);
    color: white;

    outline: none;
    border: none;
    border-radius: .5rem;
}







































































































































































